@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #1a92d3;
    --secondary-color: #e2e8f0;
    --black: #0b0b0b;
    --white: #ffffff;
    --spacing: 18px;
    --font-sizing: 1.15rem;
}

* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid black; */
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: var(--font-sizing);
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    background-color: var(--primary-color);
}

.left a {
    color: var(--white);
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--spacing);
    padding-left: var(--spacing);
    padding-top: var(--spacing);
}

.left svg {
    fill: var(--white);
}

.right svg {
    fill: var(--black);
}
  
a {
    text-decoration: none;
}

a:visited {
    color: unset;
  }

.right {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.top {
    display: grid;
    grid-template-rows: 1 fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing);
    gap: var(--spacing);
}

.search-left, .search-right {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

input {
    background-color: var(--secondary-color);
    width: 500px;
    border-radius: 28px;
    padding: 6px 12px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing);
}

.profile-left {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.profile-left .greeting {
    display: flex;
    flex-direction: column;
}

.hi {
    font-size: calc(var(--font-sizing) / 1.5);
}

.username {
    font-weight: bold;
}

.profile-right {
    display: flex;
    gap: var(--spacing);
}

.profile-right button {
    background-color: var(--primary-color);
    border-radius: 28px;
    padding: 6px 12px;
    color: var(--white);
}

.bottom {
    background-color: var(--secondary-color);
}